Repository gctools-outilsgc/gcconnex, pull requests merged in 2018-03, with the labels that each got.

#1764 Comments API File - get_comments_all
  mod/gc_mobile_api/models/comment.php
  mod/gc_mobile_api/start.php
Labels: Mobile

#1771 Submit Comment - Mobile API
  mod/gc_mobile_api/models/comment.php
Labels: API, Mobile

#1777 Mobile API: Wire Images + Wire API Refactor
  mod/gc_mobile_api/models/wire.php
Labels: API, Mobile

#1775 (bug) fixed file_tools folder access display
  mod/file_tools/views/default/forms/file_tools/folder/edit.php
  mod/wet4/views/default/forms/file_tools/folder/edit.php
Labels: Bug

#1795 Mobile API: Post Wires with Images
  mod/gc_mobile_api/models/wire.php
Labels: Enhancement, Mobile

#1799 Mobile Newsfeed Context
  mod/gc_mobile_api/models/user.php
Labels: API, Mobile
